{% extends 'base.html' %}
{% load static %}


{% block title %} Login Here {% endblock %}

{% block pagetitle %} Please sign in {% endblock %}

{% block content %}
    {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <form method="POST" class="form-signin">
        {% csrf_token %}
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        </p>
        <p>If you forgot your password you can reset it <a href="{% url 'reset_password' %}">Here</a> </p>
        <button class="btn btn-success" type="submit">Sign in</button>


    </form>

{% endblock %}