{% extends 'base.html' %}
{% block pagetitle %}Production Detail{% endblock %}
{% block content %}

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>user</th>
        <th>Task</th>
        <th>Count</th>
        <th>Count2</th>
        <th>UID</th>
        <th>Notes</th>
        <th>Start</th>
        <th>End</th>
    </tr>


<tr>
    <td>{{object.id}}</td>
    <td>{{ object.user_id }}</td>
    <td>{{ object.Task }}</td>
    <td>{{ object.Count }}</td>
    <td>{{ object.Count2 }}</td>
    <td>{{ object.UID }}</td>
    <td>{{ object.notes }}</td>
    <td>{{ object.Start_time }}</td>
    <td>{{ object.End_time }}</td>
    {% if request.user.is_staff %}
    <td><a href="{% url "production:production-update" object.id %}">(Edit</a> / <a href="{% url "production:production-delete" object.id %}">Delete)</a> </td>
    {% endif %}
</tr>
</table>
{% endblock %}
